@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050506;
  color: #00F2FF;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
